#MyHEADER{
  height: 70px;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  font-size: 66px;
  border: solid 11px navy;
}
#MyHEADER div{
  width: 140px;
  height: 70px;
  font-size: 66px;
}
#MyPHOTO{
  max-height: 30%;
  background-image: url("https://i9.ytimg.com/vi_webp/-xu40ovVY00/mqdefault.webp?v=6393a4c9&sqp=CMyg6JwG&rs=AOn4CLCirXIOyEbr02UrKa5s_IzK0NvfpQ");
}

