#MyHEADER{
  height: 70px;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  font-size: 66px;
  border: solid 11px navy;
}
#MyHEADER div{
  width: 140px;
  height: 70px;
  font-size: 66px;
}
body{
  background-color: aqua;
}

